<div class="row">
        <div class="col-md-6">
            <a href="{{url_for('MainPage')}}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
            </a>
        </div>
        <div class="col-md-6 text-right">
            {% if login_session['username'] %}
                <h3>{{login_session['username']}}</h3>
                <a href="{{url_for('gdisconnect')}}">Logout</a>
            {% else %}
                <a href="{{url_for('showLogin')}}">Login</a>
            {% endif %}
        </div>
    </div>