<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a href="/blog/{{p.key().id()}}">{{p.subject}}</a>
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>

    <div class="post-owner">
      {{p.owner}}
    </div>

    <div class="post-edit">
      <a href="/blog/edit/{{p.key().id()}}">Edit</a>
    </div>

  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <hr>
    <form method="post">
      <input type="hidden" value="{{p.key().id()}}" name="like-post">
      <button type="submit">{{liked_status}}</button>
    </form>
  <hr>
  <div class="post-like">
    <div>
      {% if p.liked_num %}
        {{p.liked_num}} people liked this
      {% else %}
        0 people liked this
      {% endif %}
    </div>
  </div>
</div>
